*.p
*.pyc
.cache
.DS_STORE
.idea/
*.log
.coverage
**/__pycache__
infrastructure/.terraform/

infrastructure/terraform.tfstate.d/
.eggs/
.terraform
.circleci/config.yml
*.egg-info
.dockerignore
.git*

.import/
.artifacts
.build
